
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by 9oroch</p>
  </div>
</div>
<script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>

</body>
</html>
