<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Turke Tv App</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer ></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer ></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">TURKE TV</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="movies"><a href="/">Movies</a></li>
          <li id="shows"><a href="/shows">New Shows</a></li>
          <li id="updat_shows"><a href="/UpdateShows">Update Show</a></li>
          <% if(user){ %>
          <li id="logout"><a href="/sessionLogout">Logout</a></li>
          <%}%>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
